[Desktop Entry]
Encoding=UTF-8
Name=Boost
Comment=Boost P2P Cryptocurrency
Comment[de]=Verbinde mit dem Boostcoin peer-to-peer Netzwerk
Comment[fr]=Bitcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitcoin, eşten eşe kriptografik sanal para birimi
Exec=boostcoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/bitcoin;
Categories=Office;Finance;
